body {
  font-size: 1em;
  font-family: "Annie Use Your Telescope", "Open Sans", sans-serif;
  list-style-type: none;
}

input {
  font-family: "century gothic", sans-serif;
  color: darkgrey;
  width: 50%;
  padding: 0.5em;
  font-size: 1em;
  margin: 0.5em;

  ::-webkit-input-placeholder {
    color: #FFF;
  }
}

/*input[placeholder="Title"] {
  color: black;
}*/

.app-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  background: whitesmoke;
  /*padding-right: 1em;*/
  overflow:auto;
}

.navbar {
  /*position: fixed;*/
  font-family: "Annie Use Your Telescope", cursive, sans-serif;
  background: lightgrey;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 4em;
  font-weight: bold;
  /*position: relative;*/
  display:inline-block;
  overflow:auto;
}

.header-title-add {
  /*display:inline-block;*/
  text-align: center;
  position: relative;
}

.add-appt {
  position: absolute;
  top: 1.25em;
  right: 0.25em;
  display: inline-block;
  float:right;
}

.add-button {
  /*position: fixed;*/
  float:right;
  outline: none;
  background: transparent;
  font-family: "Annie Use Your Telescope", sans-serif;
  font-size: 28px;
  border:none;
  cursor: pointer;
  font-weight: bold;
}

.appt-item {
  border: none;
  box-shadow: 0 0 2px #888888;
  background: white;
  color: black;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 90%;
  /*padding: 0.5em;*/
  /*box-sizing: border-box;*/
  font-family: "Annie Use Your Telescope", "Open Sans", sans-serif;
}

.appt-preview {
  border:none;
  display: inline-block;
  background: white;
  width: 90%;
  line-height: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.appt-time {
  border:none;
  display: inline-block;
  padding: 0.5em;
  background: grey;
  font-size: 1.5em;
}

.appt-title {
  display: inline-block;
  font-size: 2em;
  /*text-align: justify;*/
  padding: 5px 10px 0 10px;
}

.weather {
  /*font-weight: bold;*/
  font-size: 1.5em;
}

.appt-date {
  padding: 0 10px 0 10px;
}

.appt-delete {
  border: none;
  position: relative;
  float: right;
  /*padding: 1em;*/
  /*background: white;*/
  display: inline-block;
  /*width: 25%;*/
  /*height: 100%;*/
  /*padding-bottom: 100%;*/
}

.remove-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  /*display: inline-block;
  float: right;
  position: relative;
  outline: none;
  background: white;
  border: none;
  cursor: pointer;*/
  /*width: 95%;*/
  /*position: absolute;*/
}

/*Page 2 CSS*/

ul {
  list-style-type: none;
}

.form-container {
  text-align: center;
}

.header-title {
  margin-left:1em;
  text-align:center;
  margin-right: 0.5em;
}

.go-back {
  position: absolute;
  top: 0.50em;
  left: 0.25em;*/
  /*display: inline-block;*/
  float: left;

  /*position: absolute;
  top: 0.25em;
  left: 0.25em;
  float:left;
  display: inline-block;*/

}

.back-button {
  /*position: absolute;*/
  float:left;
  outline: none;
  background: transparent;
  font-family: "Annie Use Your Telescope", sans-serif;
  font-size: 40px;
  border:none;
  cursor: pointer;
  font-weight: bold;
  /*font-family: "Annie Use Your Telescope", cursive, sans-serif;
  font-size: 40px;
  float: left;
  padding: 1em;
  outline: none;
  background: transparent;
  border:none;
  cursor: pointer;
  font-weight: bold;
  position: fixed;*/
}

/*Page 3 CSS*/

.edit-appt {
  position: absolute;
  top: 0.75em;
  right: 0.25em;
  display: inline-block;
  float:right;
}

.edit-button {
  /*position: fixed;*/
  float:right;
  outline: none;
  background: transparent;
  font-family: "Annie Use Your Telescope", sans-serif;
  font-size: 28px;
  border:none;
  cursor: pointer;
  font-weight: bold;
}

.appt-details-container {
  border: none;
  box-shadow: 0 0 2px #888888;
  background: white;
  color: black;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 80%;
  max-width: 25em;
  text-align: center;
  /*padding: 0.5em;*/
  /*box-sizing: border-box;*/
  font-family: "Annie Use Your Telescope", "Open Sans", sans-serif;
}

.appt-details {
  border: none;
  display: inline-block;
  background: white;
  /*width: 100%;*/
  line-height: 1.5em;
  font-size: 1.5em;
  margin: 1em;
  text-align: center;
}


.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; 
}

.modal-content {
  position: fixed;
  /*max-width: 600px;*/
  min-width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 2em #444;
  padding: 1em;
}

/*.modal-header .close-modal {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}*/

.modal-body {
  text-align: center;
}

.modal-body button {
  padding: 1em;
  font-size: 0.8em;
  margin-bottom: 5px;
  width: 5em;
  background: whitesmoke;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 50%;
}
