body {
  font-size: 1em;
  font-family: "Annie Use Your Telescope", "Open Sans", sans-serif;
}

.app-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  background: whitesmoke;
}

.navbar {
  /*position: fixed;*/
  font-family: "Annie Use Your Telescope", cursive, sans-serif;
  background: lightgrey;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 4em;
  font-weight: bold;
  /*position: relative;*/
  display:inline-block;
  overflow:auto;
}

.header {
  /*display:inline-block;*/
  text-align: center;
  position: relative;
}

.add-appt {
  position: absolute;
  top: 1.25em;
  right: 0.25em;
  display: inline-block;
  float:right;
}

.add-button {
  /*position: fixed;*/
  float:right;
  outline: none;
  background: transparent;
  font-family: "Annie Use Your Telescope", sans-serif;
  font-size: 28px;
  border:none;
  cursor: pointer;
  font-weight: bold;
}

.appt-preview-container {
  border: none;
  box-shadow: 0 0 2px #888888;
  background: white;
  color: black;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 75%;
  max-width: 25em;
  /*padding: 0.5em;*/
  /*box-sizing: border-box;*/
  font-family: "Annie Use Your Telescope", "Open Sans", sans-serif;
}

.appt-preview {
  border:none;
  display: inline-block;
  background: white;
  width: 90%;
  line-height: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.appt-time {
  border:none;
  display: inline-block;
  padding: 0.5em;
  background: grey;
  font-size: 1.5em;
}

.appt-title {
  display: inline-block;
  font-size: 2em;
  /*text-align: justify;*/
  padding: 5px 10px 0 10px;
}

.appt-date {
  padding: 0 10px 0 10px;
}

.appt-delete {
  border: none;
  position: relative;
  float: right;
  /*padding: 1em;*/
  /*background: white;*/
  display: block;
  /*width: 25%;*/
  /*height: 100%;*/
  /*padding-bottom: 100%;*/
}

.remove-button {
  display: block;
  float: right;
  outline: none;
  background: white;
  border: none;
  cursor: pointer;
  width: 100%;
  /*position: absolute;*/

}


/*Page 2 CSS*/

ul {
  list-style-type: none;
}

.form-container {
  text-align: center;
}

.header2 {
  margin-left:1em;
  text-align:center;
  margin-right: 0.5em;
}

.go-back {
  position: fixed;
  top: 1em;
  left: 0.5em;
  float:left;
  /*margin-left: 2em;*/

}

.back-button {
  font-family: "Annie Use Your Telescope", cursive, sans-serif;
  font-size: 40px;
  float: left;
  padding: 1em;
  /*border-radius: 100%;*/
  outline: none;
  background: transparent;
  border:none;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.blah {
  background:red;
  font-size:3em;
}



/*Page 3 CSS*/

.edit-appt {
  position: absolute;
  top: 0.75em;
  right: 0.25em;
  display: inline-block;
  float:right;
}

.edit-button {
  /*position: fixed;*/
  float:right;
  outline: none;
  background: transparent;
  font-family: "Annie Use Your Telescope", sans-serif;
  font-size: 28px;
  border:none;
  cursor: pointer;
  font-weight: bold;
}

.appt-details-container {
  border: none;
  box-shadow: 0 0 2px #888888;
  background: white;
  color: black;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 80%;
  max-width: 25em;
  /*padding: 0.5em;*/
  /*box-sizing: border-box;*/
  font-family: "Annie Use Your Telescope", "Open Sans", sans-serif;
}

.appt-details {
  border: none;
  display: inline-block;
  background: white;
  /*width: 100%;*/
  line-height: 1.5em;
  font-size: 1.5em;
  margin: 1em;
  text-align: center;
}
