<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Appointment Manager</title>
    <link rel="stylesheet"  href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="app-container">


    </div>

    <script id="listView" type="text/html">
        <div class="drop-me-here">


        <nav class="navbar">

          <div class="header-title-add">Appointments</div>

          <div class="add-appt">
            <button class="add-button"> + Add New</button>
          </div>
        </nav>



        <ul class="appt-item-list">

          <% m.appts.forEach(function (appt) { %>


            <li class="appt-item" data-id="<%- appt.uniqueId %>">
              <div class="appt-preview">
                <div class="appt-time"> <%- appt.apptTime %> </div>
                <div class="appt-title"> <%- appt.apptTitle %> </div>
                <div class="appt-date"> <%- appt.apptDate %> </div>
              </div>

                <button class="remove-button">&times;</button>
            </li>
          <% }) %>
        </ul>

      </div>
    </script>


    <script id="editView" type="text/html">

        <nav class="navbar">
          <span class="go-back">
            <button class="back-button">&lt;</button>
          </span>
          <span class="header-title">
            Edit
          </span>
        </nav>


        <div class="form-container">
          <form class="appointment-form">
            <ul>
              <li><input name="title" type="text" placeholder="Title" required></li>
              <li><input name="date" type="date" placeholder="Date" required></li>
              <li><input name="time" type="text" placeholder="Time" required></li>
              <li><input name="street" type="text" placeholder="Street"required></li>
              <li><input name="citystate" type="text" placeholder="City, State" required></li>
              <button>Save</button>
            </ul>

          </form>
        </div>


    </script>


    <script id="detailsView" type="text/html">

        <nav class="navbar">
          <span class="go-back">
            <button class="back-button">&lt;</button>
          </span>
          <span class="header3">
            Details
          </span>
          <span class="edit-appt">
            <button class="edit-button">Edit</button>
          </span>
        </nav>

    <div class="appt-details-container">


        <div class="appt-details">
          <div class="appt-title">
            <%- m.apptTitle %>
          </div>

          <div class="appt-date">
            <%- m.apptDate %>
          </div>

          <div class="appt-time">
            <%- m.apptTime %>
          </div>

          <div class="appt-street">
            <%- m.apptStreet %>
          </div>

          <div class="appt-citystate">
            <%- m.apptCityState %>
          </div>

          <div class="weather">&deg;</div>
        </div>


      </div>



    </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="bower_components/lodash/lodash.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/appointment-store.js"></script>
  <script src="js/appointment.js"></script>
  <script src="js/show-list-view.js"></script>
  <script src="js/show-edit-view.js"></script>
  <script src="js/show-details-view.js"></script>
  <script src="js/load-weather.js"></script>
  <script src="js/init.js"></script>
  </body>
</html>
